html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
/* container that creates whitespace on both sides */
.sass-container {
  max-width: 80%;
  margin: auto;
}

.button {
  border: 1px solid $text-color;
  padding: 12px 40px;

  &:hover {
    color: $white;
    background: $text-color;
  }
}

.button-white {
  border: 1px solid $white;
  color: $text-color !important;

  &:hover {
    color: $text-color !important;
    background: $white;
  }
}
/* styles for nav, buttons and size of logo */
.nav-logo {
  width: 90px;
  height: 90px;
}

.nav-button {
  color: $text-color !important;

  &:hover {
    color: $text-color !important;
    text-decoration: underline solid black;
  }
}
/* end of nav style */

/* styles for footer */
footer {
  background: $gray-background;
  color: $white;
  a {
    color: $white;
  }
  a:hover {
    color: white;
  }
  a:visited {
    color: $white;
  }
}

.copyright {
  font-size: 12px;
}
.footer-btm {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* end of footer style */

img {
  width: 100%;
}
h1 {
  font-size: 52px;
  margin-top: 50px;
}

p {
  margin: 40px 0 68px;
}
.button {
  margin-right: 14px;
}

/* Instapage */
.instaBackground {
  background-color: $light-gray-background;
}

/* style of cards for clothes in the store */
#card-row {
  margin-left: 0em;
  margin-right: 0em;
}
.card {
  border: none;
  border-radius: 0em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-body {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0em;
}
.card-brand {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 15px;
  color: grey;
}
.card-name {
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: bold;
  font-size: 15px;
}
.card-price {
  margin-top: 0em;
  margin-bottom: 0em;
}

#card-click {
  text-decoration: none;
  color: black;
}
/* end of styles for cards */

/* style for filtering clothes */
#filter {
  background-color: $light-gray-background;
}
.list-group-item {
  border: none;
  outline: none;
}
a.btn-white {
  color: black;
}
/* end of style for filtering clothes */
