html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
h3 {
  font-size: 29px;
}

.left-padding {
  padding-left: 20%;
}

#padding-none {
  padding: 0px;
}

/* container that creates whitespace on both sides */
.sass-container {
  max-width: 80%;
  margin: auto;
}

.button {
  border: 1px solid $text-color;
  padding: 12px 40px;
  margin-right: 14px;
  cursor: pointer;

  &:hover {
    color: $white !important;
    background: $text-color;
    text-decoration: underline !important;
  }
}

.button-white {
  border: 1px solid $white;
  color: $text-color !important;

  &:hover {
    color: $text-color !important;
    background: $white;
  }
}
/* styles for nav, buttons and size of logo */
.nav-logo {
  width: 90px;
  height: 90px;
}

.nav-button {
  color: $text-color !important;

  &:hover {
    color: $text-color !important;
    text-decoration: underline solid black;
  }
}
/* end of nav style */

/* styles for footer */
footer {
  background: black;
  color: $white;
  a {
    color: $white;
  }
  a:hover {
    color: white;
  }
  a:visited {
    color: $white;
  }
}

.copyright {
  font-size: 12px;
}
.footer-btm {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* end of footer style */

img {
  width: 100%;
}
h1 {
  font-size: 52px;
  margin-top: 50px;
}

/* Instapage */
.grayBackground {
  background-color: $light-gray-background;
}

.instaLogo {
  width: 291px;
  height: 87px;
  
  display: block;
  margin: 0 auto;

}

/* style of cards for clothes in the store */
#card-row {
  margin-left: 0em;
  margin-right: 0em;
}
.card {
  border: none;
  border-radius: 0em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-body {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0em;
}
.card-brand {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 15px;
  color: grey;
}
.card-name {
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: bold;
  font-size: 15px;
}
.card-price {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Style for productspage first section */
.productHeader {
  h5 {
    font-weight: bold;
    font-size: 18px;
  }
  h4 {
    font-weight: 100;
    font-size: 24px;
  }
}

#category-type {
  display: inline-block;
  
  li {
    font-size: 20px;
    text-decoration: underline;
    font-style: italic;
  }
  li:hover{
    color: #c2c2c2;
    border-color:#c2c2c2;
  }
}
#banner-picture {
  width: 317px;
  height: 288px;
}
#card-click {
  text-decoration: none;
  color: black;
}
/* end of styles for cards */

/* style for single-product page */
.sp-name{
  font-size: 20px;
  font-weight: bold;
}
.sp-brand{
  color: gray;
  font-size: 15px;
}
.sp-price{
  font-size: 20px;
}
.sp-details{
  font-size: 17px;
}
.sp-description{
  font-size: 15px;
  padding-right: 20%;
}
/* end style single-product page */

/* style for filtering clothes */
#filter {
  background-color: $light-gray-background;
}
.list-group-item {
  border: none;
  outline: none;
}
a.btn-white {
  color: black;
}
/* underline on checked checkbox */
.filter-checkbox{
  input[type=checkbox]:checked + label {
    font-weight: bold;
    text-decoration: underline;
  }
}
/* removes checkbox on input*/
.noCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* end of style for filtering clothes */

.dropdown-width{
  width: 100%;
}

/* bootstrap css overwrite / dropdown button for filterin on product page */
.dropdown-menu{
  border-radius: 0px;
  width: 100%;
  margin: 0px;
}
.dropdown-item:active{
  color: black;
  background-color: white;
}
.dropdown-item:hover{
  color: white;
  background-color: #007bff;
}
.dropdown-toggle::after {
  content: none;
}
.btn-default {
  color: black;
  background-color: white;
  border-color: black;
  border-radius: 0em;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.btn-default:focus {
  color: black;
  background-color: white;
  border-color: black;
  box-shadow: none;
}
.btn-default:hover {
  color: black;
  background-color: white;
  border-color: black;
}
.btn-default:active {
  color: black;
  background-color: white;
  border-color: black;
  box-shadow: none;
}
/* end of bootstrap css overwrite */

/* Styling for selected brands buttons */
a.button2{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  font-weight:100;
  color:black;
  text-align:center;
  transition: all 0.15s;
  cursor: pointer;
}

a.button2:hover{
  color: gray;
  border-color:gray;
}

a.button2:active{
  color:gray;
  border-color:gray;
}

.roundedEdges {border-radius: 10px;}

/* Style for select dropdown on product page*/
select{
  color: black;
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: none;
  text-align-last:center;
  appearance: none;
  width: 100%;
  height: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  
  cursor: pointer;
}
select:active{
  color: black;
  background-color: white;
  border: 1px solid black;
  box-shadow: none;
  outline: none;
}
select:focus{
  color: black;
  background-color: white;
  border: 1px solid black;
  box-shadow: none;
}
/* header style for contact page */
.contact-header{
  font-size: 35px;
  padding-top: 0px;
  margin-top: 0px;
}

/* Active navselection */
.router-link-exact-active {
  font-weight: bold;
}

/* Om oss bilde */
.about-us-pic {
  height: auto;
  width: 100%;
}