@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 15px;
  }
  .nav-logo {
    width: 155px;
    height: 155px;
  }
  #banner-picture {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #banner-picture {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .sp-description{
    padding-right: none;
  }
  
  #banner-picture {
    display: none;
  }
}

/* centers the logo in the nav on smaller screens*/
@media (max-width: 620px) {
  .set-mid {
    margin-right: auto;
    margin-left: auto;
  }
}
