@media only screen and (min-width: 993px) {
  .map-size{
    width: 450px;
    height: 400px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .map-size{
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .map-size{
    width: 450px;
    height: 400px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 15px;
  }
  .nav-logo {
    width: 155px;
    height: 155px;
  }
  #banner-picture {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #banner-picture {
    display: none;
  }
  .map-size{
    width: 300px;
    height: 300px;
  }
  
  /* Om oss bilde */
  .about-us-pic {
    height: 150px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .sp-description{
    padding-right: none;
  }

  #banner-picture {
    display: none;
  }
  
}

/* centers the logo in the nav on smaller screens */
@media (max-width: 620px) {
  .set-mid {
    margin-right: auto;
    margin-left: auto;
  }
}