html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.sass-container {
  max-width: 80%;
  margin: auto;
}

.button {
  border: 1px solid #212121;
  padding: 12px 40px;
}

.button:hover {
  color: #e9e9e9;
  background: #212121;
}

.button-white {
  border: 1px solid #e9e9e9;
  color: #212121 !important;
}

.button-white:hover {
  color: #212121 !important;
  background: #e9e9e9;
}

.nav-button {
  color: #212121 !important;
}

.nav-button:hover {
  color: #212121 !important;
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
}

.copyright {
  font-size: 12px;
}

.footer-btm {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

img {
  width: 100%;
}

h1 {
  font-size: 52px;
  margin-top: 50px;
}

p {
  margin: 40px 0 68px;
}

.button {
  margin-right: 14px;
}

footer {
  background: #535353;
  color: #e9e9e9;
}

footer a {
  color: #e9e9e9;
}

footer a:hover {
  color: white;
}

.nav-logo {
  width: 90px;
  height: 90px;
}

/* Medium Devices, Desktops */

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 15px;
  }

  .nav-logo {
    width: 170px;
    height: 170px;
  }
}

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

/* centers the logo in the nav on smaller screens*/

@media (max-width: 620px) {
  .set-mid {
    margin-right: auto;
    margin-left: auto;
  }
}

